.container {
    position: relative;
    max-width: 600px;
    margin: 50px auto; 
    text-align: center;
    background-color: #F8D7DA;
    padding: 50px 15px;
    border-radius: 19px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

button {
    padding: 12px 24px;
    background-color: #007BFF;
    color: #FFF;
    border: none;
    border-radius: 13px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    margin: 10px; 
    display: inline-block; 
}

button:hover {
    background-color: #0056B3;
}

#nextButton,
#restartButton,
#startButton {
    position: absolute;
    bottom: -6px;
    left: 48%;
    transform: translateX(-50%);
}

.instruction {
    display: inline-block;
    font-size: 20px;
    color: #020109;
    background-color: rgb(193, 144, 239);
    border-radius: 10px;
    padding: 10px 20px;
    margin: 10px;
}

.pendulum {
    animation: pendulum 2s infinite alternate;
    color: #007BFF;
    font-size: 48px;
    line-height: 1;
}

@keyframes pendulum {
    0% {
        transform: rotate(-10deg);
    }
    50% {
        transform: rotate(10deg);
    }
    100% {
        transform: rotate(-10deg);
    }
}
